.color-nav{
  background-color: #FF4500;
}

.btn-nav-list, .btn-nav-home, .btn-nav-plus {
  border: none;
  background-color: #FF4500;
  color: white;
}

.form-nav:hover {
  opacity: 80%;
  border: none;
}

.inp-nav {
  border: none;
  opacity: 70%;
  border-radius: 1px;
}