.color-nav{
  background-color: #FF4500;
}

.btn-nav-list, .btn-nav-home, .btn-nav-plus {
  border: none;
  background-color: #FF4500;
  color: white;
}

.btn-nav-plus{
  justify-items: end;
}

.form-nav:hover {
  opacity: 80%;
  border: none;
}

.inp-nav {
  border: none;
  opacity: 70%;
  border-radius: 2px;
  outline: none;
}

.menu {
  background-color: #F8F8FF;
  width: 305px;
  height: 935px;
}

.margin-menu {
  margin-left: 24px;
}

.list-menu {
  list-style-type: none;
}

.b-menu {
  font-size: 15px;
  border: none;
  background-color: #F8F8FF;
}

.hover:hover {
  background-color: #e6e6fa;
  border-radius: 5px;
}

.main-button{
  border: none;
  background-color: white;
}

.main-button:hover {
  color: #FF4500;
}

.img-plus-main {
  margin-right: 2px;
}

.input-task {
  width: 420px;
  height: 85px;
  border-radius: 5px;
}

.btn-task {
  border: 2px solid #FF4500;
  border-radius: 10px solid #FF4500;
  background-color: #FF4500;
  color: white;
  width: 90px;
  height: 38px;
}

.btn-cancel{
  background-color: white;
  border-radius: 10px solid white;
  border: 2px solid #d3d3d3;
  margin-left: 3px;
  width: 90px;
  height: 38px;
}

.inp-date {
  border-radius: 3px;
  border: 1px solid #FF4500;

}