.color-nav{
  background-color: #FF4500;
}

.btn-nav-list, .btn-nav-home, .btn-nav-plus {
  border: none;
  background-color: #FF4500;
  color: white;
}

.btn-nav-plus{
  justify-items: end;
}

.form-nav:hover {
  opacity: 80%;
  border: none;
}

.inp-nav {
  border: none;
  opacity: 70%;
  border-radius: 2px;
  outline: none;
}

.menu {
  background-color: #F8F8FF;
  width: 305px;
  height: 935px;
}

.list-menu {
  list-style-type: none;
}

.a-menu, .a-menu:hover {
  text-decoration: none;
  color: black;
  font-size: 15px;
}